doctype html
html(lang='en', itemscope='', itemtype='http://schema.org')
    head
        meta(charset='UTF-8')
        meta(name='theme-color', content='#0074d9')
        meta(name='author', content='Sete Três - http://setetres.st')
        meta(name='viewport', content='width=device-width, height=device-height, user-scalable=no, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')

        title InkStarter — Still more to come.
        meta(name='description', content='')
        link(rel='canonical', href='https://inkstarter.cc')

        meta(property='fb:app_id', content='155658704635453')
        meta(property='og:type', content='website')
        meta(property='og:title', content='InkStarter — Still more to come.')
        meta(property='og:description', content='')
        meta(property='og:image', content='')
        meta(property='og:url', content='https://inkstarter.cc')

        meta(itemprop='name', content='InkStarter')
        meta(itemprop='description', content='')
        meta(itemprop='image', content='')
        meta(itemprop='url', content='https://inkstarter.cc')

        meta(name='twitter:card', content='summary')
        meta(name='twitter:title', content='InkStarter — Still more to come.')
        meta(name='twitter:description', content='')
        meta(name='twitter:image', content='')

        link(rel='manifest', href='/manifest.json')
        link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
        link(rel='icon', href='/favicon.ico')
        link(rel='stylesheet', href='/css/main.min.css')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,700,900|Oswald:400,700', rel='stylesheet')

    body.body
        canvas#canvas.canvas
        .background
        main#main.main
            .container
                header.header
                    h1.header__title
                        img(src='img/inkstarter.svg', alt='InkStarter', width='480')
                #text-5.header-promo.widget.widget_text
                    .laurel-left
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 286.25', preserveaspectratio='')
                            path(d='M81.71,20.43c-3.2,6.07-8.86,9.27-15.1,11.65A4.32,4.32,0,0,0,65,33.39c-2.3,5.08-4.67,10.25-7.14,15.42-.73,1.89-1.47,3.77-2.46,5.82,2.79-3.11,5.17-5.9,7.63-8.61,4.27-4.59,9.35-8.2,16-9.19a48.3,48.3,0,0,1,20.26,1.81,3.19,3.19,0,0,1,.74.49c-1.72,2.46-3.2,4.92-5,7.14-3.61,4.43-7.88,8-13.46,9.76A51.83,51.83,0,0,1,57,57.26c-.73-.16-1.64-.41-2.21-.49a235.08,235.08,0,0,0-10.34,35.6c1.64-2.46,3-4.84,4.6-7.38C52.67,79.33,57.26,74.73,64,72.6a40.41,40.41,0,0,1,15.67-2.3c1.8.09,3.44.33,5.57.41-1,2.22-1.72,4.43-2.7,6.32-2.55,5.33-6,10.17-11.32,13.29a46.33,46.33,0,0,1-20.59,6.32c-2.38.16-4.76.16-7.22.24a267.78,267.78,0,0,0-4.52,36.84,13.86,13.86,0,0,0,.91-1.4c.74-2.38,1.72-4.92,2.7-7.38,3-7,7.63-12.47,15-15.51a52.05,52.05,0,0,1,15.25-3.85c1.07-.17,2.06-.17,3-.33a2,2,0,0,1-.17,1.07,15.79,15.79,0,0,1-.82,3.77c-1.72,7.47-4.84,14.11-11.07,18.79A51.1,51.1,0,0,1,41,138.47a18.48,18.48,0,0,1-2.63.41,209.5,209.5,0,0,0,2,37.82c1.15-4.26,2-8.12,2.79-11.89a27.79,27.79,0,0,1,8.62-13.95,52.16,52.16,0,0,1,18.78-9.19,21.44,21.44,0,0,0,2.3-.65c-.17,3.44-.41,6.64-.74,9.76-1.07,5.5-2.79,10.91-6.56,15.09A51.32,51.32,0,0,1,42.41,181c-.33.16-.82.33-1.23.49a253.69,253.69,0,0,0,8.78,34c.33-2,.16-4.1.33-6,.49-6.4,1.56-12.72,5.82-18a47.33,47.33,0,0,1,12.14-10.34c2.55-1.39,4.92-2.7,7.71-4,.17,1.15.5,2,.58,3,1.06,8.2,1,16.16-3.45,23.46A52.9,52.9,0,0,1,58.9,218.7c-2,1.56-4.27,2.79-6.4,4.35a225.24,225.24,0,0,0,13.37,30.6,2.21,2.21,0,0,0,0-1.48c-.24-2.62-.57-5.41-.73-8.2a24.93,24.93,0,0,1,3.44-14.44,48,48,0,0,1,11.65-13.37,53.85,53.85,0,0,1,5.5-4,49.77,49.77,0,0,1,3.52,17.23,26.78,26.78,0,0,1-1.72,9.84,56.52,56.52,0,0,1-16.24,22.07c-.82.49-.82,1-.41,1.72a240,240,0,0,0,14.85,22.81c0,.08-1.07,1.88-7.8-2.46-1.47-2.38-3.11-4.76-4.59-7.22-2.71-4.92-5.83-9.93-8.53-15-.58-1.24-1.23-1.56-2.71-1.24a54.59,54.59,0,0,1-26.25-1c-6.32-1.72-11.16-5.58-15-10.66a68.18,68.18,0,0,1-5-6.89,5.69,5.69,0,0,1-.49-1,1.45,1.45,0,0,1,.57-.33,55.22,55.22,0,0,1,21.66-2.46c7.3.74,13,4.43,18,9.44a40.6,40.6,0,0,0,3.77,3.52,4.7,4.7,0,0,1-.65-1.31,226.87,226.87,0,0,1-11.32-28.79,1.53,1.53,0,0,0-1.73-1.32,53,53,0,0,1-25.18-4.92c-6.24-2.87-10.26-7.71-13.46-13.45-1.47-2.63-2.62-5.42-4.1-8.53,2.87-.17,5.5-.33,8-.41a49.27,49.27,0,0,1,15.09,2c6.57,1.88,11.16,6.31,15.1,11.89.9,1.15,1.64,2.46,2.46,3.45-2.3-10.75-4.51-21.66-6.73-32.32-3.93-1.07-8.2-2-12.3-3.53C18.38,171,12.72,168.09,8.29,163,4.35,158.65.41,149.22,0,143.4c.16,0,.16-.09.33-.09,8.61.5,17,2.22,24.2,7.14,4.59,2.87,7.3,7.3,9.51,12,.58,1.15,1.15,2.21,1.81,3.28a181.86,181.86,0,0,1,.08-32.08,54.27,54.27,0,0,1-14.6-7c-6.56-4.43-12-9.6-14.36-17.55A47.23,47.23,0,0,1,5.25,96.55v-1.8c3.94,1.39,7.47,2.46,11,3.86A38.67,38.67,0,0,1,29,107.22c3,3.44,4.67,7.63,5.9,11.89.66,1.89,1.07,3.94,1.65,5.91a5.12,5.12,0,0,0,.32-1.31,252,252,0,0,1,5.09-30.52c.16-1.23.16-1.8-.82-2.38A50.72,50.72,0,0,1,21.49,73.26c-3.36-5.34-4-11.41-3.69-17.39.17-2.38.41-4.6.74-7.31,2.87,1.56,5.74,3,8.53,4.35,5.25,3.37,10.09,7.3,13.13,13,2.46,4.43,2.95,9.35,3.2,14.27.16,1.56.16,3,.32,4.68a5.27,5.27,0,0,0,.58-1.32A222.09,222.09,0,0,1,54.72,53.08c.33-1,.33-1.48-.58-2.14a51.89,51.89,0,0,1-15.42-19c-2.79-6.15-2.62-12.3-1.15-18.7a63.79,63.79,0,0,1,1.72-6.73l.17-.16a59.15,59.15,0,0,1,11.89,9.92c5.17,5.91,8,12.72,7,20.59-.17,3.12-.58,6.32-.82,9.6.24-.41.24-.57.41-.82,2.29-4.51,4.67-9,7-13.45a7,7,0,0,0,.16-1.73,40,40,0,0,1,1.4-12.22c.9-3.28,2.13-6.32,4.51-8.61a30.76,30.76,0,0,1,9.43-6.81c2-1.07,3.7-1.89,5.5-2.79.16,0,.57.16.74.16a40.13,40.13,0,0,0-.58,4.6A37.69,37.69,0,0,1,81.71,20.43Z', transform='translate(0 0)')
                    .textwidget
                        p
                            strong Some Crazy!
                        p
                            span Film Festival
                    .laurel-right
                        svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 100 286.25', preserveaspectratio='')
                            path(d='M81.71,20.43c-3.2,6.07-8.86,9.27-15.1,11.65A4.32,4.32,0,0,0,65,33.39c-2.3,5.08-4.67,10.25-7.14,15.42-.73,1.89-1.47,3.77-2.46,5.82,2.79-3.11,5.17-5.9,7.63-8.61,4.27-4.59,9.35-8.2,16-9.19a48.3,48.3,0,0,1,20.26,1.81,3.19,3.19,0,0,1,.74.49c-1.72,2.46-3.2,4.92-5,7.14-3.61,4.43-7.88,8-13.46,9.76A51.83,51.83,0,0,1,57,57.26c-.73-.16-1.64-.41-2.21-.49a235.08,235.08,0,0,0-10.34,35.6c1.64-2.46,3-4.84,4.6-7.38C52.67,79.33,57.26,74.73,64,72.6a40.41,40.41,0,0,1,15.67-2.3c1.8.09,3.44.33,5.57.41-1,2.22-1.72,4.43-2.7,6.32-2.55,5.33-6,10.17-11.32,13.29a46.33,46.33,0,0,1-20.59,6.32c-2.38.16-4.76.16-7.22.24a267.78,267.78,0,0,0-4.52,36.84,13.86,13.86,0,0,0,.91-1.4c.74-2.38,1.72-4.92,2.7-7.38,3-7,7.63-12.47,15-15.51a52.05,52.05,0,0,1,15.25-3.85c1.07-.17,2.06-.17,3-.33a2,2,0,0,1-.17,1.07,15.79,15.79,0,0,1-.82,3.77c-1.72,7.47-4.84,14.11-11.07,18.79A51.1,51.1,0,0,1,41,138.47a18.48,18.48,0,0,1-2.63.41,209.5,209.5,0,0,0,2,37.82c1.15-4.26,2-8.12,2.79-11.89a27.79,27.79,0,0,1,8.62-13.95,52.16,52.16,0,0,1,18.78-9.19,21.44,21.44,0,0,0,2.3-.65c-.17,3.44-.41,6.64-.74,9.76-1.07,5.5-2.79,10.91-6.56,15.09A51.32,51.32,0,0,1,42.41,181c-.33.16-.82.33-1.23.49a253.69,253.69,0,0,0,8.78,34c.33-2,.16-4.1.33-6,.49-6.4,1.56-12.72,5.82-18a47.33,47.33,0,0,1,12.14-10.34c2.55-1.39,4.92-2.7,7.71-4,.17,1.15.5,2,.58,3,1.06,8.2,1,16.16-3.45,23.46A52.9,52.9,0,0,1,58.9,218.7c-2,1.56-4.27,2.79-6.4,4.35a225.24,225.24,0,0,0,13.37,30.6,2.21,2.21,0,0,0,0-1.48c-.24-2.62-.57-5.41-.73-8.2a24.93,24.93,0,0,1,3.44-14.44,48,48,0,0,1,11.65-13.37,53.85,53.85,0,0,1,5.5-4,49.77,49.77,0,0,1,3.52,17.23,26.78,26.78,0,0,1-1.72,9.84,56.52,56.52,0,0,1-16.24,22.07c-.82.49-.82,1-.41,1.72a240,240,0,0,0,14.85,22.81c0,.08-1.07,1.88-7.8-2.46-1.47-2.38-3.11-4.76-4.59-7.22-2.71-4.92-5.83-9.93-8.53-15-.58-1.24-1.23-1.56-2.71-1.24a54.59,54.59,0,0,1-26.25-1c-6.32-1.72-11.16-5.58-15-10.66a68.18,68.18,0,0,1-5-6.89,5.69,5.69,0,0,1-.49-1,1.45,1.45,0,0,1,.57-.33,55.22,55.22,0,0,1,21.66-2.46c7.3.74,13,4.43,18,9.44a40.6,40.6,0,0,0,3.77,3.52,4.7,4.7,0,0,1-.65-1.31,226.87,226.87,0,0,1-11.32-28.79,1.53,1.53,0,0,0-1.73-1.32,53,53,0,0,1-25.18-4.92c-6.24-2.87-10.26-7.71-13.46-13.45-1.47-2.63-2.62-5.42-4.1-8.53,2.87-.17,5.5-.33,8-.41a49.27,49.27,0,0,1,15.09,2c6.57,1.88,11.16,6.31,15.1,11.89.9,1.15,1.64,2.46,2.46,3.45-2.3-10.75-4.51-21.66-6.73-32.32-3.93-1.07-8.2-2-12.3-3.53C18.38,171,12.72,168.09,8.29,163,4.35,158.65.41,149.22,0,143.4c.16,0,.16-.09.33-.09,8.61.5,17,2.22,24.2,7.14,4.59,2.87,7.3,7.3,9.51,12,.58,1.15,1.15,2.21,1.81,3.28a181.86,181.86,0,0,1,.08-32.08,54.27,54.27,0,0,1-14.6-7c-6.56-4.43-12-9.6-14.36-17.55A47.23,47.23,0,0,1,5.25,96.55v-1.8c3.94,1.39,7.47,2.46,11,3.86A38.67,38.67,0,0,1,29,107.22c3,3.44,4.67,7.63,5.9,11.89.66,1.89,1.07,3.94,1.65,5.91a5.12,5.12,0,0,0,.32-1.31,252,252,0,0,1,5.09-30.52c.16-1.23.16-1.8-.82-2.38A50.72,50.72,0,0,1,21.49,73.26c-3.36-5.34-4-11.41-3.69-17.39.17-2.38.41-4.6.74-7.31,2.87,1.56,5.74,3,8.53,4.35,5.25,3.37,10.09,7.3,13.13,13,2.46,4.43,2.95,9.35,3.2,14.27.16,1.56.16,3,.32,4.68a5.27,5.27,0,0,0,.58-1.32A222.09,222.09,0,0,1,54.72,53.08c.33-1,.33-1.48-.58-2.14a51.89,51.89,0,0,1-15.42-19c-2.79-6.15-2.62-12.3-1.15-18.7a63.79,63.79,0,0,1,1.72-6.73l.17-.16a59.15,59.15,0,0,1,11.89,9.92c5.17,5.91,8,12.72,7,20.59-.17,3.12-.58,6.32-.82,9.6.24-.41.24-.57.41-.82,2.29-4.51,4.67-9,7-13.45a7,7,0,0,0,.16-1.73,40,40,0,0,1,1.4-12.22c.9-3.28,2.13-6.32,4.51-8.61a30.76,30.76,0,0,1,9.43-6.81c2-1.07,3.7-1.89,5.5-2.79.16,0,.57.16.74.16a40.13,40.13,0,0,0-.58,4.6A37.69,37.69,0,0,1,81.71,20.43Z', transform='translate(0 0)')

        footer.footer
            .container
                .row
                    .col-md-6
                        | p
                    .col-md-6
                        .movie-rating
                            .movie-rating__header
                                span.movie-rating__left R
                                span.movie-rating__right
                                    | Disturbing elements, gore, self tattooing, art, lorem ipsum, gore, self tattooing, art, lorem.
                            .movie-rating__footer
                                .movie-rating__footer-left Restricted
                                .movie-rating__footer-right
                                    img(src='img/mpaa.svg')
        script(src='/js/main.min.js')
        //- script.
        //-     if ('serviceWorker' in navigator) {
        //-     navigator.serviceWorker.register('/sw.js');
        //-     }
        //- script.
        //-     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        //-     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        //-     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        //-     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        //-     ga('create', 'UA-6977973-1', 'auto');
        //-     ga('send', 'pageview');
