@import 'variables';
@import 'vendor/grid';

a,
input,
select,
textarea,
button {
    &:hover,
    &:active,
    &:focus {
        outline: 0 none;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    background-color: $white;
    font-size: 100%;
}

.body {
    background-color: $white;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    text-size-adjust: 100%;
    transition: background-color $timing $easing-out ($delay * 7);
}

.background {
    background-image: url('../img/inkstarter.gif');
    background-position: center center;
    background-size: cover;
    filter: grayscale(1);
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}

.canvas {
    display: none;
    height: 100vh;
    left: 0;
    opacity: .3;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
}

.header {
    display: flex;
    justify-content: center;
    left: 0;
    margin: 2rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}

.main {
    .title {
        margin: 0 0 60px;
        max-width: 70%;
        width: 50%;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        position: relative;
        z-index: 3;
    }

    .actions {
        display: flex;
        flex-direction: row;

        a {
            align-items: center;
            background-color: rgba($white, .2);
            border: 2px solid $white;
            border-radius: 50px;
            color: $white;
            display: flex;
            font-size: 1.2rem;
            font-weight: 700;
            height: 50px;
            justify-content: center;
            line-height: 1.2rem;
            margin: 0 15px;
            padding: 5px;
            position: relative;
            text-decoration: none;
            transition: background-color $timing $easing-out;
            width: 200px;

            &:hover {
                background-color: rgba($black, .2);
            }
        }
    }
}

.fit-video {
    align-items: center;
    background-color: rgba($black, .7);
    display: flex;
    height: 100%;
    justify-content: center;
    opacity: 0;
    padding: 10%;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: opacity $timing $easing-out;
    width: 100%;
    z-index: 10000;

    &__close {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    &--active {
        opacity: 1;
        pointer-events: all;
    }
}

.footer {
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    margin: 2rem 0;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.rating {
    border: 2px solid $white;
    color: $black;
    display: flex;
    flex-direction: column;
    font-family: 'Merriweather', sans-serif;

    &__header,
    &__footer {
        align-items: stretch;
        display: flex;
        flex-direction: row;
    }

    &__left {
        align-items: center;
        border-right: 2px solid $white;
        color: $white;
        display: flex;
        font-size: 2.5rem;
        font-weight: 700;
        justify-content: center;
        padding: 1rem 2rem;
        text-align: center;
        text-transform: uppercase;
        width: 30%;
    }

    &__right {
        color: $white;
        display: flex;
        font-family: 'Oswald', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.2rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
        }
    }

    &__footer {
        border-top: 2px solid $white;
        justify-content: space-between;
    }

    &__footer-left {
        align-items: center;
        border-right: 2px solid $white;
        color: $white;
        display: flex;
        flex: 2;
        font-family: sans-serif;
        font-weight: 700;
        justify-content: center;
        padding: .5rem 1rem;
        text-transform: capitalize;
    }

    &__footer-right {
        padding: .5rem 1rem;

        img {
            height: 30px;
            position: relative;
            top: -2px;
            vertical-align: middle;
        }
    }
}

.award {
    align-items: center;
    color: $white;
    display: flex;
    flex-direction: row;
    flex-flow: row no-wrap;
    flex-wrap: nowrap;
    font-weight: 700;
    justify-content: space-around;
    margin: 0 auto;
    max-height: 200px;
    max-width: 200px;
    padding: 1rem 0;
    position: relative;
    text-align: center;
    vertical-align: middle;

    p {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
    }

    span {
        font-size: 80%;
        font-weight: 400;
    }

    &__text {
        flex-grow: 5;
        padding: 0;
        width: 80%;
    }

    &__left,
    &__right {
        flex: 1 auto;
        flex-grow: 3;
        vertical-align: middle;
        width: 10%;

        svg {
            max-height: 120px;
            position: relative;

            path {
                fill: $white;
            }
        }
    }

    &__left {
        justify-content: right;

        svg {
            float: right;
        }
    }

    &__right {
        filter: FlipH;
        transform: scaleX(-1);
    }
}

.quotes {
    color: $white;
    font-size: 1.8rem;
    height: 100%;
    line-height: 1.8rem;
    position: relative;

    blockquote {
        bottom: 0;
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        text-align: left;
        transition: opacity $timing $easing-out 0ms, transform $timing $easing-out 0ms;
        z-index: 0;

        &:first-child {
            opacity: 0;
            transform: translateY(-10px) scale(1.1);
        }

        &:first-child + blockquote {
            opacity: 1;
            transition: opacity ($timing * 3) $easing-out 0ms, transform ($timing * 3) $easing-out 0ms;
            z-index: 1;
        }

        p {
            font-style: italic;
            font-weight: 700;
            margin-bottom: 10px;

            &::before {
                content: '\201C';
            }

            &::after {
                content: '\201D';
            }
        }

        cite {
            font-size: 80%;
            font-weight: 300;
            text-align: center;
        }
    }
}
