@import 'mixins/functions';

$white:                  #fff !default;
$black:                  #000 !default;

$easing-out:             cubic-bezier(.19, 1, .22, 1) !default;
$easing-in:              cubic-bezier(.895, .03, .685, .22) !default;
$timing:                 500ms !default;
$delay:                  300ms !default;

$enable-grid-classes:    true !default;

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
) !default;

@include _assert-ascending($grid-breakpoints, '$grid-breakpoints');
@include _assert-starts-at-zero($grid-breakpoints);
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
) !default;

@include _assert-ascending($container-max-widths, '$container-max-widths');
$grid-columns:           12 !default;
$grid-gutter-width:      30px !default;
